<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <title>
        <%=title %>
    </title>
</head>

<body>
    <div id="wrapper">
        <header>
            <a href="#maincontent" class="skiplink button">Gå till huvudinnehåll</a>
            <h1>Backend-baserad webbutveckling - DT207G</h1>
            <p>Moment 1</p>
        </header>
        <nav>
            <ul>
                <li><a href="/">Startsida</a></li>
                <li class="current"><a href="/about">Om sidan</a></li>
                <li><a href="/addcourse">Lägg till kurs</a></li>
            </ul>
        </nav>
        <main id="maincontent">
            <h2>Om sidan</h2>
            <p>Jag som har skapat den här sidan heter Linn Eriksson och läser fullstack webbutveckling på
                Mittuniversitetet. Utbildningen är på distans och den här sidan visar några kurser som
                jag har läst.</p>
            <p>Man kan lägga till nya kurser under "Lägg till kurser".</p>
            <p>Sidan är skapad med Express.js, EJS och mysql.</p>

            <h3>Slutsatser</h3>
            <p>Enligt uppgiftsbeskrivningen skulle denna webbplats innehålla några slutsatser man har dragit av
                uppgiften. Jag känner att det var väldigt mycket nytt i den här uppgiften och det var en del saker som
                var lite rörigt att få ordning på. Jag fick ihop en laboration och jag är nöjd med slutresultatet.</p>
            <p>EJS verkar vara ett ganska smidigt sätt att arbeta på men jag har lite svårt att greppa hela grejen med
                async/await och att allting händer "samtidigt" istället för att det är lite mer strukturerat och händer
                i den ordning man har sagt åt det att hända. Det ingår väl i att jag har lite problem med JavaScript
                eftersom att jag känner att det är lite ostrukturerat och "flummigt" jämfört med striktare språk som
                till exempel PHP där det är lite mer "ordning och reda".</p>
            <p>Jag gjorde även ett ärligt försök att publicera denna webbplats online, trots följandet av flera olika
                guider så lyckades jag inte förstå mig på Azure. Det gör mig lite nedstämd att detta inte ingår i
                kursen. Det känns inte som att det spelar någon roll hur bra webbplatser jag klarar av att utveckla om
                jag inte klarar av att få upp dessa på internet eftersom det är själva poängen med en webbplats. Det
                känns inte som att jag kommer att vara anställningsbar när jag har tagit examen eftersom jag inte klara
                grundläggande grejer som detta.</p>
        </main>
        <footer>
            <p>Webbplats skapad som en del av <a
                    href="https://www.miun.se/utbildning/kursplaner-och-utbildningsplaner/DT207G">Backend-baserad
                    webbutveckling</a> av <a href="mailto:lier2209@student.miun.se">Linn Eriksson</a>.</p>
        </footer>
    </div>
</body>

</html>