<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <title><%=title %></title>
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Backend-baserad webbutveckling - DT207G</h1>
            <p>Moment 1</p>
        </header>
        <nav>
            <ul>
                <li><a href="/">Startsida</a></li>
                <li><a href="/about" class="current">Om sidan</a></li>
                <li><a href="/addcourse">Lägg till kurs</a></li>
            </ul>
        </nav>
        <main id="maincontent">
            <h2>Om sidan</h2>
            <p>Jag heter Linn Eriksson och läser fullstack webbutveckling på Mittuniversitetet. Utbildningen är på
                distans och den här sidan visar kurser jag har läst.</p>
            <p>Sidan är skapad med Express.js, EJS och mysql.</p>
        </main>
        <footer>
            <p>Webbplats skapad som en del av <a
                    href="https://www.miun.se/utbildning/kursplaner-och-utbildningsplaner/DT207G">Backend-baserad
                    webbutveckling</a> av <a href="mailto:lier2209@student.miun.se">Linn Eriksson</a>.</p>
        </footer>
    </div>
</body>
</html>